<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    {{!--
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    --}}
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    {{!--
    <link rel="stylesheet" href="style2.css" />

    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="style.scss"> --}}
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Verdana;

        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Source Sans Pro', sans-serif;
        }

        /* Navbar */
        nav {
            position: fixed;
            line-height: 1;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
            z-index: 1;
        }

        .modal-header {
            height: 300x;
            width: 400px;
            margin: 4% 10%;
        }

        a.price {
            color: #020202;
        }

        .logsign {
            color: rgb(250, 250, 250) !important;
            margin-left: 15px;
            font-size: 1.2rem;
            font-weight: 400;
        }

        .nav-item a {
            color: rgb(250, 250, 250) !important;
            margin-left: 15px;
            font-size: 1.2rem;
            font-weight: 400;
        }

        .nav-item a:hover {
            text-decoration: underline;
            color: #198754 !important;
        }

        button {
            font-size: 1.2rem;
            width: 6rem;
        }

        h4 {
            font-family: 'Pacifico', cursive;
            margin: auto;
            color: #ddfdff;
            font-size: 2.5rem;
            font-weight: 800;
        }

        .content {
            padding: 16px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        #buttonClose {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }

        /* Searchbar  */
        .searchbar {
            padding: 20px;
            display: flex;

        }

        .searchbar input {
            background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
            background-repeat: no-repeat;
            background-position: left center;
            width: 602px;
            margin-left: 399px;
            text-align: center;
            height: inherit;
            border-radius: 30px;
            font-size: 16px;
            outline: none;
        }

        .searchbar button {
            width: 126px;
            padding: -12px 0px;
            text-align: center;
            border-radius: 31px;
            font-size: 17px;
            cursor: pointer;
            background-image: linear-gradient(to right, #020202, #4cef49);
        }

        ::placeholder {
            color: rgb(175, 172, 172);
        }

        /* offers */
        .offers {
            background-repeat: no-repeat;
            background-size: cover;
        }

        .offer1 {
            background: url("https://i0.wp.com/www.buymedicineonline.co.in/wp-content/uploads/2018/12/Medlife-Offers.jpg?fit=990%2C450&ssl=1") center no-repeat;
            background-size: cover;
            background-position: center;
            height: 800px;
        }

        .container1 {
            display: grid;
            height: auto;
            margin: 10px 400px;
            justify-content: center;
            grid-gap: 40px 120px;
            grid-template-columns: auto auto auto auto;
        }

        .item {
            width: 200px;
            height: 262px;
        }

        .item:hover {
            background-color: white;
        }

        .shoppingcart img {
            height: 3rem;
            width: 3rem;
            cursor: pointer;
        }

        .notification img {
            height: 2.8rem;
            width: 3rem;
            padding-left: 2rem;
            cursor: pointer;
        }

        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .position-sticky {
            position: sticky !important;
        }

        .footer_a {
            color: #ddfdff;
        }

        .footer_a:hover {
            color: greenyellow;
        }
    </style>
    <script>
        var myCarousel = document.querySelector('#carouselExampleIndicators')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 500,
            wrap: false
        })
    </script>
</head>

<body>
    {{>navbar}}


    <main>

        <form class="searchbar">
            <input type="search" placeholder="Search your Medicine here..." />
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
        <!-- Bootstrap carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators" data-interval="500">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 0"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="https://source.unsplash.com/1550x550/?pharmacy" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://source.unsplash.com/1550x550/?medicine" class="d-block w-100" alt="Second slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://source.unsplash.com/1550x550/?cornavirus" class="d-block w-100" alt="Third Slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://source.unsplash.com/1550x550/?prescription" class="d-block w-100"
                        alt="Fourth Slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://source.unsplash.com/1550x550/?pharmaceutical" class="d-block w-100"
                        alt="Fifth Slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--precautions -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide-precaution">
                    <div class="slider-box-precaution">
                        <div class="img-box">
                            <img src="/images/safety.png" />
                        </div>
                        <br>
                        <p class="precaution-detail">
                            4 Step Safety Practiced
                        </p>
                        <!-- <div class="cart">
                <a href="#" class="cd-add-to-cart js-cd-add-to-cart">Add To Cart</a>
              </div> -->
                    </div>
                </div>
                <div class="swiper-slide-precaution">
                    <div class="slider-box-precaution">
                        <div class="img-box">
                            <img src="images/temperature.png" />
                        </div>
                        <br>
                        <p class="precaution-detail">
                            Temperature Checks
                        </p>
                        <!-- <div class="cart">
                <a href="#" class="cd-add-to-cart js-cd-add-to-cart">Add To Cart</a>
              </div> -->
                    </div>
                </div>
                <div class="swiper-slide-precaution">
                    <div class="slider-box-precaution">
                        <div class="img-box">
                            <img src="images/secure.png" />
                        </div>
                        <br>
                        <p class="precaution-detail">
                            Secure Packaging
                        </p>
                        <!-- <div class="cart">
                <a href="#" class="cd-add-to-cart js-cd-add-to-cart">Add To Cart</a>
              </div> -->
                    </div>
                </div>
                <div class="swiper-slide-precaution">
                    <div class="slider-box-precaution">
                        <div class="img-box">
                            <img src="images/spray.png" />
                        </div>
                        <br>
                        <p class="precaution-detail">
                            Regular Sanitization
                        </p>
                        <!-- <div class="cart">
                <a href="#" class="cd-add-to-cart js-cd-add-to-cart">Add To Cart</a>
              </div> -->
                    </div>
                </div>
                <div class="swiper-slide-precaution">
                    <div class="slider-box-precaution">
                        <div class="img-box">
                            <img src="images/thermometer-gun.png" />
                        </div>
                        <br>
                        <p class="precaution-detail">
                            No Contact Delivery
                        </p>
                        <!-- <div class="cart">
                <a href="#" class="cd-add-to-cart js-cd-add-to-cart">Add To Cart</a>
              </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Offers for you carousel -->
        <div class="heading">
            <h1>O F F E R S &emsp; F O R &emsp; Y O U</h1>
        </div>
        <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"
                    aria-label="Slide 0"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="images/offer1.PNG" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="images/offer2.PNG" class="d-block w-100" alt="Second slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="images/offer3.PNG" class="d-block w-100" alt="Third Slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--Slider 1 Heading-->
        <div class="heading">
            <h1>PRODUCTS&emsp;</h1>
        </div>

        <!--Slider 1-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/AB Phylline Capsule.png">
                        </div>
                        <p class="detail">
                            AB Phylline Capsule
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Aceclo Plus Tablet.png" />
                        </div>
                        <p class="detail">
                            Aceclo Plus Tablet
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Acitrom 2 Tablet.png" />
                        </div>
                        <p class="detail">
                            Acitrom 2 Tablet
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/ACTEMRA 80 MG INJECTION.png" />
                        </div>
                        <p class="detail">
                            ACTEMRA 80 MG INJECTION
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Akt 4 Kit.png" />
                        </div>
                        <p class="detail">
                            Akt 4 Kit
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Alfoo 10mg Tablet PR.png" />
                        </div>
                        <p class="detail">
                            Alfoo 10mg Tablet PR
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Alkasol Oral Solution Sugar Free.png" />
                        </div>
                        <p class="detail">
                            Alkasol Oral Solution Sugar Free
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Alkasol Oral Solution.png" />
                        </div>
                        <p class="detail">
                            Alkasol Oral Solution
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Almox 500 Capsule.png" />
                        </div>
                        <p class="detail">
                            Almox 500 Capsule
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- swiper  slider end -->


        <!-- Slider 2 -->
        <!-- <div class="heading">
      <h1>P R O D U C T &emsp; S L I D E R &emsp; 2</h1>
    </div> -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Antiflu 75mg Capsule.png">
                        </div>
                        <p class="detail">
                            Antiflu 75mg Capsule
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Anobliss Cream.png" />
                        </div>
                        <p class="detail">
                            Anobliss Cream
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Aptimust Syrup.png" />
                        </div>
                        <p class="detail">
                            Aptimust Syrup
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Aquasol A Capsule.png" />
                        </div>
                        <p class="detail">
                            Aquasol A Capsule
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Arachitol 6L Injection.png" />
                        </div>
                        <p class="detail">
                            Arachitol 6L Injection
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Asthalin 100mcg Inhaler.png" />
                        </div>
                        <p class="detail">
                            Asthalin 100mcg Inhaler
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Ativan 1mg Tablet.png" />
                        </div>
                        <p class="detail">
                            Ativan 1mg Tablet
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Augmentin Duo Oral Suspension.png" />
                        </div>
                        <p class="detail">
                            Augmentin Duo Oral Suspension
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Avil Injection.png" />
                        </div>
                        <p class="detail">
                            Avil Injection
                            <a href="#" class="price">Price-40$</a>
                        </p>
                        <!-- <div class="cart">
              <a onclick="return getMedicineName();">Add To Cart</a>
            </div> -->
                        <div class="cart">
                            <a href="#" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99"
                                style="border-radius: 50px 0px 0px 50px;">Add
                                to cart </a>
                            <a href="#" class="cd-add-to-cart"
                                style="border-left:1px solid #0d8bf2; border-radius: 0px 50px 50px 0px;"
                                onclick="return getMedicineName();">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Cart Code -->
    <div class="cd-cart cd-cart--empty js-cd-cart">
        <a href="#0" class="cd-cart__trigger text-replace">
            <ul class="cd-cart__count">
                <!-- cart items count -->
                <li>0</li>
                <li>0</li>
            </ul> <!-- .cd-cart__count -->
        </a>

        <div class="cd-cart__content">
            <div class="cd-cart__layout">
                <header class="cd-cart__header">
                    <h2>Cart</h2>
                    <span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>
                </header>

                <div class="cd-cart__body">
                    <ul>
                        <!-- products added to the cart will be inserted here using JavaScript -->
                    </ul>
                </div>

                <footer class="cd-cart__footer">
                    <a href="#0" class="cd-cart__checkout">
                        <em>Checkout - $<span>0</span>
                            <svg class="icon icon--sm" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor">
                                    <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12"
                                        x2="21" y2="12" />
                                    <polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        points="15,6 21,12 15,18 " />
                                </g>
                            </svg>
                        </em>
                        <img src="images/add-to-cart.png" alt="cancel" width="60px" height="60px"
                            style="position: absolute; right: 0.5rem; top: 0.5rem;">
                    </a>
                </footer>
            </div>
        </div> <!-- .cd-cart__content -->
    </div> <!-- cd-cart -->

    {{>footer}}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="swiper.min.js"></script>
    <script>
        // Utility function
        function Util() { };

        /* 
            class manipulation functions
        */
        Util.hasClass = function (el, className) {
            if (el.classList) return el.classList.contains(className);
            else return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
        };

        Util.addClass = function (el, className) {
            var classList = className.split(' ');
            if (el.classList) el.classList.add(classList[0]);
            else if (!Util.hasClass(el, classList[0])) el.className += " " + classList[0];
            if (classList.length > 1) Util.addClass(el, classList.slice(1).join(' '));
        };

        Util.removeClass = function (el, className) {
            var classList = className.split(' ');
            if (el.classList) el.classList.remove(classList[0]);
            else if (Util.hasClass(el, classList[0])) {
                var reg = new RegExp('(\\s|^)' + classList[0] + '(\\s|$)');
                el.className = el.className.replace(reg, ' ');
            }
            if (classList.length > 1) Util.removeClass(el, classList.slice(1).join(' '));
        };

        Util.toggleClass = function (el, className, bool) {
            if (bool) Util.addClass(el, className);
            else Util.removeClass(el, className);
        };

        Util.setAttributes = function (el, attrs) {
            for (var key in attrs) {
                el.setAttribute(key, attrs[key]);
            }
        };

        /* 
          DOM manipulation
        */
        Util.getChildrenByClassName = function (el, className) {
            var children = el.children,
                childrenByClass = [];
            for (var i = 0; i < el.children.length; i++) {
                if (Util.hasClass(el.children[i], className)) childrenByClass.push(el.children[i]);
            }
            return childrenByClass;
        };

        /* 
            Animate height of an element
        */
        Util.setHeight = function (start, to, element, duration, cb) {
            var change = to - start,
                currentTime = null;

            var animateHeight = function (timestamp) {
                if (!currentTime) currentTime = timestamp;
                var progress = timestamp - currentTime;
                var val = parseInt((progress / duration) * change + start);
                // console.log(val);
                element.setAttribute("style", "height:" + val + "px;");
                if (progress < duration) {
                    window.requestAnimationFrame(animateHeight);
                } else {
                    cb();
                }
            };

            //set the height of the element before starting animation -> fix bug on Safari
            element.setAttribute("style", "height:" + start + "px;");
            window.requestAnimationFrame(animateHeight);
        };

        /* 
            Smooth Scroll
        */

        Util.scrollTo = function (final, duration, cb) {
            var start = window.scrollY || document.documentElement.scrollTop,
                currentTime = null;

            var animateScroll = function (timestamp) {
                if (!currentTime) currentTime = timestamp;
                var progress = timestamp - currentTime;
                if (progress > duration) progress = duration;
                var val = Math.easeInOutQuad(progress, start, final - start, duration);
                window.scrollTo(0, val);
                if (progress < duration) {
                    window.requestAnimationFrame(animateScroll);
                } else {
                    cb && cb();
                }
            };

            window.requestAnimationFrame(animateScroll);
        };

        /* 
          Focus utility classes
        */

        //Move focus to an element
        Util.moveFocus = function (element) {
            if (!element) element = document.getElementsByTagName("body")[0];
            element.focus();
            if (document.activeElement !== element) {
                element.setAttribute('tabindex', '-1');
                element.focus();
            }
        };

        /* 
          Misc
        */

        Util.getIndexInArray = function (array, el) {
            return Array.prototype.indexOf.call(array, el);
        };

        Util.cssSupports = function (property, value) {
            if ('CSS' in window) {
                return CSS.supports(property, value);
            } else {
                var jsProperty = property.replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); });
                return jsProperty in document.body.style;
            }
        };

        /* 
            Polyfills
        */
        //Closest() method
        if (!Element.prototype.matches) {
            Element.prototype.matches = Element.prototype.msMatchesSelector || Element.prototype.webkitMatchesSelector;
        }

        if (!Element.prototype.closest) {
            Element.prototype.closest = function (s) {
                var el = this;
                if (!document.documentElement.contains(el)) return null;
                do {
                    if (el.matches(s)) return el;
                    el = el.parentElement || el.parentNode;
                } while (el !== null && el.nodeType === 1);
                return null;
            };
        }

        //Custom Event() constructor
        if (typeof window.CustomEvent !== "function") {

            function CustomEvent(event, params) {
                params = params || { bubbles: false, cancelable: false, detail: undefined };
                var evt = document.createEvent('CustomEvent');
                evt.initCustomEvent(event, params.bubbles, params.cancelable, params.detail);
                return evt;
            }

            CustomEvent.prototype = window.Event.prototype;

            window.CustomEvent = CustomEvent;
        }

        /* 
            Animation curves
        */
        Math.easeInOutQuad = function (t, b, c, d) {
            t /= d / 2;
            if (t < 1) return c / 2 * t * t + b;
            t--;
            return -c / 2 * (t * (t - 2) - 1) + b;
        };
    </script> <!-- util functions included in the CodyHouse framework -->
    <script>
        (function () {
            var cart = document.getElementsByClassName('js-cd-cart');
            if (cart.length > 0) {
                var cartAddBtns = document.getElementsByClassName('js-cd-add-to-cart'),
                    cartBody = cart[0].getElementsByClassName('cd-cart__body')[0],
                    cartList = cartBody.getElementsByTagName('ul')[0],
                    cartListItems = cartList.getElementsByClassName('cd-cart__product'),
                    cartTotal = cart[0].getElementsByClassName('cd-cart__checkout')[0].getElementsByTagName('span')[0],
                    cartCount = cart[0].getElementsByClassName('cd-cart__count')[0],
                    cartCountItems = cartCount.getElementsByTagName('li'),
                    cartUndo = cart[0].getElementsByClassName('cd-cart__undo')[0],
                    productId = 0, //this is a placeholder -> use your real product ids instead
                    cartTimeoutId = false,
                    animatingQuantity = false;
                initCartEvents();


                function initCartEvents() {
                    // add products to cart
                    for (var i = 0; i < cartAddBtns.length; i++) {
                        (function (i) {
                            cartAddBtns[i].addEventListener('click', addToCart);
                        })(i);
                    }

                    // open/close cart
                    cart[0].getElementsByClassName('cd-cart__trigger')[0].addEventListener('click', function (event) {
                        event.preventDefault();
                        toggleCart();
                    });

                    cart[0].addEventListener('click', function (event) {
                        if (event.target == cart[0]) { // close cart when clicking on bg layer
                            toggleCart(true);
                        } else if (event.target.closest('.cd-cart__delete-item')) { // remove product from cart
                            event.preventDefault();
                            removeProduct(event.target.closest('.cd-cart__product'));
                        }
                    });

                    // update product quantity inside cart
                    cart[0].addEventListener('change', function (event) {
                        if (event.target.tagName.toLowerCase() == 'select') quickUpdateCart();
                    });

                    //reinsert product deleted from the cart
                    cartUndo.addEventListener('click', function (event) {
                        if (event.target.tagName.toLowerCase() == 'a') {
                            event.preventDefault();
                            if (cartTimeoutId) clearInterval(cartTimeoutId);
                            // reinsert deleted product
                            var deletedProduct = cartList.getElementsByClassName('cd-cart__product--deleted')[0];
                            Util.addClass(deletedProduct, 'cd-cart__product--undo');
                            deletedProduct.addEventListener('animationend', function cb() {
                                deletedProduct.removeEventListener('animationend', cb);
                                Util.removeClass(deletedProduct, 'cd-cart__product--deleted cd-cart__product--undo');
                                deletedProduct.removeAttribute('style');
                                quickUpdateCart();
                            });
                            Util.removeClass(cartUndo, 'cd-cart__undo--visible');
                        }
                    });
                };

                function addToCart(event) {
                    event.preventDefault();
                    if (animatingQuantity) return;
                    var cartIsEmpty = Util.hasClass(cart[0], 'cd-cart--empty');
                    //update cart product list
                    addProduct(this);
                    //update number of items 
                    updateCartCount(cartIsEmpty);
                    //update total price
                    updateCartTotal(this.getAttribute('data-price'), true);
                    //show cart
                    Util.removeClass(cart[0], 'cd-cart--empty');
                };

                function toggleCart(bool) { // toggle cart visibility
                    var cartIsOpen = (typeof bool === 'undefined') ? Util.hasClass(cart[0], 'cd-cart--open') : bool;

                    if (cartIsOpen) {
                        Util.removeClass(cart[0], 'cd-cart--open');
                        //reset undo
                        if (cartTimeoutId) clearInterval(cartTimeoutId);
                        Util.removeClass(cartUndo, 'cd-cart__undo--visible');
                        removePreviousProduct(); // if a product was deleted, remove it definitively from the cart

                        setTimeout(function () {
                            cartBody.scrollTop = 0;
                            //check if cart empty to hide it
                            if (Number(cartCountItems[0].innerText) == 0) Util.addClass(cart[0], 'cd-cart--empty');
                        }, 500);
                    } else {
                        Util.addClass(cart[0], 'cd-cart--open');
                    }
                };

                function addProduct(target) {
                    // this is just a product placeholder
                    // you should insert an item with the selected product info
                    // replace productId, productName, price and url with your real product info
                    // you should also check if the product was already in the cart -> if it is, just update the quantity
                    prod_name = document.getElementsByClassName("detail")
                    productId = productId + 1;
                    var productAdded = '<li class="cd-cart__product"><div class="cd-cart__image"><a href="#0"><img src="assets/img/product-preview.png" alt="placeholder"></a></div><div class="cd-cart__details"><h3 class="truncate"><a href="#0">Product Name</a></h3><span class="cd-cart__price">$25.99</span><div class="cd-cart__actions"><a href="#0" class="cd-cart__delete-item">Delete</a><div class="cd-cart__quantity"><label for="cd-product-' + productId + '">Qty</label><span class="cd-cart__select"><select class="reset" id="cd-product-' + productId + '" name="quantity"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select><svg class="icon" viewBox="0 0 12 12"><polyline fill="none" stroke="currentColor" points="2,4 6,8 10,4 "/></svg></span></div></div></div></li>';
                    cartList.insertAdjacentHTML('beforeend', productAdded);
                };

                function removeProduct(product) {
                    if (cartTimeoutId) clearInterval(cartTimeoutId);
                    removePreviousProduct(); // prduct previously deleted -> definitively remove it from the cart

                    var topPosition = product.offsetTop,
                        productQuantity = Number(product.getElementsByTagName('select')[0].value),
                        productTotPrice = Number((product.getElementsByClassName('cd-cart__price')[0].innerText).replace('$', '')) * productQuantity;

                    product.style.top = topPosition + 'px';
                    Util.addClass(product, 'cd-cart__product--deleted');

                    //update items count + total price
                    updateCartTotal(productTotPrice, false);
                    updateCartCount(true, -productQuantity);
                    Util.addClass(cartUndo, 'cd-cart__undo--visible');

                    //wait 8sec before completely remove the item
                    cartTimeoutId = setTimeout(function () {
                        Util.removeClass(cartUndo, 'cd-cart__undo--visible');
                        removePreviousProduct();
                    }, 8000);
                };

                function removePreviousProduct() { // definitively removed a product from the cart (undo not possible anymore)
                    var deletedProduct = cartList.getElementsByClassName('cd-cart__product--deleted');
                    if (deletedProduct.length > 0) deletedProduct[0].remove();
                };

                function updateCartCount(emptyCart, quantity) {
                    if (typeof quantity === 'undefined') {
                        var actual = Number(cartCountItems[0].innerText) + 1;
                        var next = actual + 1;

                        if (emptyCart) {
                            cartCountItems[0].innerText = actual;
                            cartCountItems[1].innerText = next;
                            animatingQuantity = false;
                        } else {
                            Util.addClass(cartCount, 'cd-cart__count--update');

                            setTimeout(function () {
                                cartCountItems[0].innerText = actual;
                            }, 150);

                            setTimeout(function () {
                                Util.removeClass(cartCount, 'cd-cart__count--update');
                            }, 200);

                            setTimeout(function () {
                                cartCountItems[1].innerText = next;
                                animatingQuantity = false;
                            }, 230);
                        }
                    } else {
                        var actual = Number(cartCountItems[0].innerText) + quantity;
                        var next = actual + 1;

                        cartCountItems[0].innerText = actual;
                        cartCountItems[1].innerText = next;
                        animatingQuantity = false;
                    }
                };

                function updateCartTotal(price, bool) {
                    cartTotal.innerText = bool ? (Number(cartTotal.innerText) + Number(price)).toFixed(2) : (Number(cartTotal.innerText) - Number(price)).toFixed(2);
                };

                function quickUpdateCart() {
                    var quantity = 0;
                    var price = 0;

                    for (var i = 0; i < cartListItems.length; i++) {
                        if (!Util.hasClass(cartListItems[i], 'cd-cart__product--deleted')) {
                            var singleQuantity = Number(cartListItems[i].getElementsByTagName('select')[0].value);
                            quantity = quantity + singleQuantity;
                            price = price + singleQuantity * Number((cartListItems[i].getElementsByClassName('cd-cart__price')[0].innerText).replace('$', ''));
                        }
                    }

                    cartTotal.innerText = price.toFixed(2);
                    cartCountItems[0].innerText = quantity;
                    cartCountItems[1].innerText = quantity + 1;
                };
            }
        })();
    </script>
    <script src="script.js"></script>
    <script>
        function getMedicineName() {
            var info = document.querySelector("p.detail").innerText;
            alert(info)
        }
    </script>
</body>

</html>